<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <% if current_user.activated %>
    <h2> Status: Active </h2>
  <% else %>
    <h2> This account has not yet been activated. Please check your email. </h2>
  <% end %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% unless current_user.github_authorized? %>
    <%= button_to 'Connect to Github', github_auth_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <section class='bookmarks'>
      <% bookmark_facade.tutorials.each do |tutorial| %>
        <section id="tutorial-<%= tutorial.id %>">
          <h4><%= tutorial.title %></h4>
            <% tutorial.videos.each do |video| %>
              <ul>
                <li><%= video.title %></li>
              </ul>
            <% end %>
        </section>
      <% end %>
    </section>
  </section>

  <section class='friends'>
    <h1>Friends</h1>
    <% if current_user.friends.empty? %>
      <p>No friends added</p>
    <% else %>
      <% current_user.friends.each do |friend| %>
        <ul class='friend'>
          <li class='name'><%= friend.first_name %></li>
        </ul>
      <% end %>
    <% end %>
  </section>

  <% if current_user.github_authorized? %>
    <section class='github'>
      <h1>Github</h1>
      <section class='repos'>
        <% github_facade.repositories.each do |repo| %>
          <ul class='repo'>
            <li class='name'><%= link_to repo.name, repo.html_url %></li>
          </ul>
        <% end %>
      </section>

      <section class='followers'>
        <h2>Followers</h2>
          <% github_facade.followers.each do |follower| %>
            <ul class = 'follower'>
              <li class = 'login'><%= link_to follower.login, follower.html_url %></li>
              <% if follower.registered? && !follower.friended?(current_user.id) %>
                <%= button_to 'Add as Friend', friendships_path(:friend_id => follower.user_id), method: :post %>
              <% end %>
            </ul>
          <% end %>
      </section>

      <section class='following'>
        <h2>Following</h2>
          <% github_facade.following.each do |follower| %>
            <ul class = 'following'>
              <li class = 'login'><%= link_to follower.login, follower.html_url %></li>
              <% if follower.registered? && !follower.friended?(current_user.id) %>
                <%= button_to 'Add as Friend', friendships_path(:friend_id => follower.user_id), method: :post %>
              <% end %>
            </ul>
          <% end %>
      </section>
    </section>
  <% end %>
</section>
